// ПЕРЕМЕННЫЕ

$whitest:           #ffffff; // максимально белый, если потребуется
$white:             #fafafa; // "рабочий" белый, более приятный глазу
$gray-lightest:     #dcdcdc;
$gray-lighter:      #bebebe;
$gray-light:        #a0a0a0;
$gray:              #828282;
$gray-dark:         #646464;
$gray-darker:       #464646;
$gray-darkest:      #282828;
$black:             #0f0f0f; // "рабочий" чёрный, более приятный глазу
$blackest:          #000000; // максимально чёрный, если потребуется

$color-main:        #7B6456;
$color-second:      #91786e;

$screen-xxl:           1600px;
$screen-xl:            1200px;
$screen-lg:             992px;
$screen-md:             768px;
$screen-sm:             576px;
$screen-xs:             480px;
$screen-xxs:            360px;


// ШАБЛОНЫ

%inter-thin {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 100;
}

%inter-extralight {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 200;
}

%inter-light {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
}

%inter-regular {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
}

%inter-medium {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
}

%inter-semibold {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
}

%inter-bold {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
}

%inter-extrabold {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 800;
}

%inter-black {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
}

%roboto-thin {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 100;
}

%roboto-thin-italic {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 100;
}

%roboto-light {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
}

%roboto-light-italic {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 300;
}

%roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

%roboto-regular-italic {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 400;
}

%roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
}

%roboto-medium-italic {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 500;
}

%roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
}

%roboto-bold-italic {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 700;
}

%roboto-black {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
}

%roboto-black-italic {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 900;
}



// МИКСИНЫ (ПРИМЕСИ)

@mixin flex($direction: row, $align: normal, $justify: start) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin bg-image($link, $position: center, $size: cover, $repeat: no-repeat) {
  background-image: url($link);
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat;
}