.about {
  width: 100%;
  padding: 100px 0 140px 0;
  @include flex(column, center);

  @media screen and (max-width: 1199px) {
    padding: 80px 0 100px 0;
  }

  @media screen and (max-width: 991px) {
    padding: 64px 0 88px 0;
  }

  @media screen and (max-width: 575px) {
    padding: 48px 0 68px 0;
  }

  @media screen and (max-width: 479px) {
    padding: 32px 0 40px 0;
  }
}

.about__container {
  width: 100%;
  max-width: 1440px;
  @include flex(column, center);

  @media screen and (max-width: 1599px) {
    padding: 0 60px 0 60px;
  }

  @media screen and (max-width: 1399px) {
    padding: 0 52px 0 52px;
  }

  @media screen and (max-width: 1199px) {
    padding: 0 48px 0 48px;
  }

  @media screen and (max-width: 991px) {
    padding: 0 28px 0 28px;
  }

  @media screen and (max-width: 767px) {
    padding: 0 24px 0 24px;
  }

  @media screen and (max-width: 575px) {
    padding: 0 20px 0 20px;
  }

  @media screen and (max-width: 479px) {
    padding: 0 16px 0 16px;
  }

  @media screen and (max-width: 359px) {
    padding: 0 12px 0 12px;
  }
}

.about__alignment {
  max-width: 800px;
  @include flex(row, normal, space-between);

  @media screen and (max-width: 991px) {
    max-width: 100%;
    @include flex(column, normal, normal);
  }
}

.about__heading {
  min-width: 212px;
  margin: 0 88px 0 0;
  @extend %inter-regular;
  font-size: 32px;
  color: $black;
  line-height: 110%;

  @media screen and (max-width: 1199px) {
    font-size: 28px;
  }

  @media screen and (max-width: 991px) {
    margin: 0 0 24px 0;
    font-size: 32px;
  }

  @media screen and (max-width: 767px) {
    font-size: 28px;
  }

  @media screen and (max-width: 575px) {
    margin: 0 0 20px 0;
    font-size: 24px;
  }
}

.about__text {
  max-width: 500px;
  @include flex(column);

  @media screen and (max-width: 991px) {
    max-width: 100%;
  }
}

.about__paragraph {
  margin: 0 0 16px 0;
  @extend %inter-regular;
  font-size: 16px;
  line-height: 160%;
  color: $black;

  // @media screen and (max-width: 575px) {
  //   margin: 0 0 14px 0;
  //   font-size: 14px;
  // }

  @media screen and (max-width: 359px) {
    margin: 0 0 14px 0;
    font-size: 14px;
  }
}

.about__paragraph:last-of-type {
  margin: 0 0 0 0;
}

.about__paragraph-italic {
  @extend %roboto-regular-italic;
}

.about__link {
  @extend %inter-medium;
  color: $color-main;
  transition: 0.2s linear;

  &:hover {
    color: $color-second;
  }
}

.about__paragraph-bold {
  @extend %inter-semibold;
}