.about {
  width: 100%;
  padding: 120px 0 160px 0;
  @include flex(column, center);
}

.about__container {
  width: 100%;
  max-width: 1440px;
  @include flex(column, center);

  @media screen and (max-width: $screen-xxxl) {
    padding: 0 60px 0 60px;
  }
}

.about__alignment {
  max-width: 800px;
  @include flex(row, normal, space-between);
}

.about__heading {
  min-width: 212px;
  margin: 0 88px 0 0;
  @extend %inter-regular;
  font-size: 32px;
  color: $black;
  line-height: 110%;

}

.about__text {
  max-width: 500px;
  @include flex(column);
}

.about__paragraph {
  margin: 0 0 16px 0;
  @extend %inter-regular;
  font-size: 16px;
  line-height: 160%;
  color: $black;
}

.about__paragraph:last-of-type {
  margin: 0 0 0 0;
}

.about__paragraph-italic {
  @extend %roboto-regular-italic;
}

.about__link {
  @extend %inter-medium;
  color: $color-main;
  transition: 0.2s linear;

  &:hover {
    color: $color-second;
  }
}

.about__paragraph-bold {
  @extend %inter-semibold;
}