.contacts {
  width: 100%;
  padding: 28px 0 0 0;
  margin: 72px 0 0 0;
  @include flex(column, center);

  @media screen and (max-width: 991px) {
    padding: 24px 0 0 0;
    margin: 64px 0 0 0;
  }

  @media screen and (max-width: 359px) {
    padding: 20px 0 0 0;
  }
}

.contacts__container {
  width: 100%;
  max-width: 1440px;
  @include flex(column);

  @media screen and (max-width: 1599px) {
    padding: 0 60px 0 60px;
  }

  @media screen and (max-width: 1399px) {
    padding: 0 52px 0 52px;
  }

  @media screen and (max-width: 1199px) {
    padding: 0 48px 0 48px;
  }

  @media screen and (max-width: 991px) {
    padding: 0 28px 0 28px;
  }

  @media screen and (max-width: 767px) {
    padding: 0 24px 0 24px;
  }

  @media screen and (max-width: 575px) {
    padding: 0 20px 0 20px;
  }

  @media screen and (max-width: 479px) {
    padding: 0 16px 0 16px;
  }

  @media screen and (max-width: 359px) {
    padding: 0 12px 0 12px;
  }
}

.contacts__back-link {
  @extend %inter-bold;
  font-size: 12px;
  letter-spacing: 0.8px;
  color: $color-main;
  text-transform: uppercase;
  transition: 0.2s linear;

  &:hover {
    color: $color-second;
  }
}

.contacts__heading {
  margin: 40px 0 12px 0;
  @extend %inter-regular;
  font-size: 32px;
  color: $gray-darkest;

  @media screen and (max-width: 991px) {
    margin: 32px 0 8px 0;
    font-size: 28px;
  }

  @media screen and (max-width: 359px) {
    margin: 28px 0 8px 0;
    font-size: 24px;
  }
}

.contacts__description {
  // max-width: 620px;
  max-width: calc(50% - 16px);
  margin: 0 0 28px 0;
  @extend %inter-regular;
  font-size: 16px;
  line-height: 140%;
  color: $gray-dark;

  @media screen and (max-width: 1399px) {
    max-width: calc(50% - 12px);
  }

  @media screen and (max-width: 1199px) {
    max-width: 65%;
  }

  @media screen and (max-width: 991px) {
    max-width: 100%;
    margin: 0 0 24px 0;
  }

  @media screen and (max-width: 359px) {
    margin: 0 0 20px 0;
    font-size: 14px;
  }
}



// .contacts {
//   width: 100%;
//   padding: 72px 0 0 0;
//   @include flex(column, center);

//   @media (max-width: $screen-lg) {
//     padding: 64px 0 0 0;
//   }
// }

// .contacts__container {
//   width: 100%;
//   max-width: 1440px;
//   padding: 40px 60px 0 60px;
//   @include flex(column);

//   @media (max-width: $screen-lg) {
//     padding: 40px 40px 0 40px;
//   }
// }

// .contacts__heading {
//   padding: 0 0 0 12px;
//   @extend %inter-regular;
//   font-size: 32px;
//   line-height: 140%;
//   color: $gray-darkest;
// }

// .contacts__paragraph {
//   width: calc(50% - 6px);
//   padding: 8px 12px 8px 12px;
//   margin: 0 0 24px 0;
//   @extend %inter-regular;
//   font-size: 16px;
//   line-height: 140%;
//   color: $gray-dark;

//   span {
//     @extend %inter-semibold;
//   }
// }

// .contacts__contact {
//   margin: 0 0 12px 0;
//   @include flex();
// }

// .contacts__type {
//   margin: 0 8px 0 0;
//   @extend %inter-semibold;
//   font-size: 24px;
//   color: $gray-darkest;
// }

// .contacts__link {
//   @extend %inter-regular;
//   font-size: 24px;
//   color: $gray-darkest;
// }