.intro {
  width: 100%;
  margin: 72px 0 0 0; // верхний отступ равен высоте хедера и меняется медиазапросами в соответствии с ним
  @include flex(column, center);
  background-color: #DCD9D4;
  background-image: linear-gradient(to top, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
  background-blend-mode: soft-light,screen;

  @media screen and (max-width: $screen-xl) {
    margin: 64px 0 0 0;
  }
}

.intro__container {
  width: 100%;
  max-width: 1440px;
  @include flex();

  @media screen and (max-width: $screen-xxxl) {
    padding: 0 60px 0 60px;
  }

  @media screen and (max-width: $screen-xxl) {
    padding: 0 52px 0 52px;
  }
}

.intro__text {
  width: 50%;
  @include flex(column, normal, center);
}

.intro__alignment {
  width: 80%;
  @include flex(column);

  @media screen and (max-width: $screen-xxl) {
    width: 90%;
  }
}

.intro__heading {
  @extend %inter-regular;
  font-size: 48px;
  line-height: 120%;
  color: $black;

  @media screen and (max-width: $screen-xxxl) {
    font-size: 44px;
  }

  @media screen and (max-width: $screen-xxl) {
    font-size: 36px;
  }

  @media screen and (max-width: $screen-xl) {
    font-size: 28px;
  }
}

.intro__paragraph {
  margin: 24px 0 40px 0;
  @extend %inter-regular;
  font-size: 16px;
  line-height: 160%;
  color: $black;

  @media screen and (max-width: $screen-xl) {
    margin: 18px 0 28px 0;
    font-size: 14px;
  }
}

.intro__paragraph-bold {
  @extend %inter-semibold;
}

.intro__link {
  width: max-content;
  @extend %inter-semibold;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $color-main;
  transition: 0.2s linear;

  @media screen and (max-width: $screen-xl) {
    font-size: 12px;
  }

  span {
    transition: 0.2s linear;
  }

  &:hover {
    color: $color-second;

    span {
      margin: 0 0 0 4px;
      color: $color-second;
    }
  }
}

.intro__illustration {
  position: relative;
  width: 50%;
  height: 0;
  padding: 50% 0 0 0;
}

.intro__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}