.logo {
  @include flex(row, center);
}

.logo__image {
  width: 48px;
  height: 48px;
  margin: 0 12px 0 0;
  @include bg-image('../../../images/logo.png');
  user-select: none;

  &_small {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
  }
}

.logo__text {
  height: 48px;
  @include flex(column, center, space-between);

  &_small {
    height: 40px;
  }
}

.logo__heading {
  // @extend %inter-bold;
  @extend %inter-semibold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: $black;
  user-select: none;

  &_small {
    font-size: 26px;
  }
}

.logo__subheading {
  // @extend %inter-semibold;
  @extend %inter-regular;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: $black;
  user-select: none;

  &_small {
    font-size: 8px;
  }
}







// .logo {
//   @include flex(row, center);
// }

// .logo__image {
//   width: 48px;
//   height: 48px;
//   margin: 0 12px 0 0;
//   background-color: $color-second;

//   @media (max-width: $screen-xl) {
//     width: 44px;
//     height: 44px;
//     margin: 0 10px 0 0;
//   }

//   @media (max-width: $screen-lg) {
//     width: 40px;
//     height: 40px;
//     margin: 0 8px 0 0;
//   }

//   &_small {
//     width: 32px;
//     height: 32px;
//     margin: 0 8px 0 0;
//   }

//   &_monocolor {
//     background-color: $black;
//   }
// }

// .logo__text {
//   @extend %inter-extrabold;
//   font-size: 28px;
//   text-transform: uppercase;
//   color: $black;

//   @media (max-width: $screen-xl) {
//     font-size: 26px;
//   }

//   @media (max-width: $screen-lg) {
//     font-size: 24px;
//   }

//   &_small {
//     font-size: 20px;
//   }
// }