.services {
  width: 100%;
  padding: 0 0 100px 0;
  @include flex(column, center);
}

.services__container {
  width: 100%;
  max-width: 1440px;
  @include flex(column, center);

  @media screen and (max-width: $screen-xxxl) {
    padding: 0 60px 0 60px;
  }
}

.services__subheading {
  @extend %inter-extralight;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: $color-main;
}

.services__heading {
  margin: 8px 0 56px 0;
  @extend %inter-semibold;
  font-size: 40px;
  text-align: center;
  color: $gray-darkest;
}

.services__cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 32px;
}

.services__card {
  width: 100%;
  padding: 12px 32px 48px 32px;
  @include flex(column, center);
  background-color: $whitest;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.services__card-icon {
  width: 122px;
  height: 122px;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: $gray-darkest;
}

#services-icon-1 {
  mask-image: url('../images/services-1.svg');
}

#services-icon-2 {
  mask-image: url('../images/services-2.svg');
}

#services-icon-3 {
  mask-image: url('../images/services-3.svg');
}

#services-icon-4 {
  mask-image: url('../images/services-4.svg');
}

.services__card-heading {
  margin: 0 0 16px 0;
  @extend %inter-regular;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: $color-main;
}

.services__card-text {
  @extend %inter-regular;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: $black;
}