.services {
  width: 100%;
  padding: 92px 0 120px 0;
  @include flex(column, center);
  background-color: #DCD9D4;
  background-image: linear-gradient(to top, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
  background-blend-mode: soft-light,screen;

  @media screen and (max-width: 1199px) {
    padding: 72px 0 92px 0;
  }

  @media screen and (max-width: 991px) {
    padding: 60px 0 80px 0;
  }

  @media screen and (max-width: 767px) {
    padding: 54px 0 72px 0;
  }

  @media screen and (max-width: 575px) {
    padding: 48px 0 60px 0;
  }

  @media screen and (max-width: 479px) {
    padding: 36px 0 54px 0;
  }

  @media screen and (max-width: 359px) {
    padding: 32px 0 48px 0;
  }
}

.services__container {
  width: 100%;
  max-width: 1440px;
  @include flex(column, center);

  @media screen and (max-width: 1599px) {
    padding: 0 60px 0 60px;
  }

  @media screen and (max-width: 1399px) {
    padding: 0 52px 0 52px;
  }

  @media screen and (max-width: 1199px) {
    padding: 0 48px 0 48px;
  }

  @media screen and (max-width: 991px) {
    padding: 0 44px 0 44px;
  }

  @media screen and (max-width: 767px) {
    padding: 0 40px 0 40px;
  }

  @media screen and (max-width: 575px) {
    padding: 0 36px 0 36px;
  }

  @media screen and (max-width: 479px) {
    padding: 0 24px 0 24px;
    @include flex(column, normal);
  }

  @media screen and (max-width: 359px) {
    padding: 0 16px 0 16px;
    @include flex(column, center);
  }
}

.services__subheading {
  @extend %inter-extralight;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: $color-main;

  @media screen and (max-width: 1199px) {
    font-size: 18px;
  }

  @media screen and (max-width: 575px) {
    font-size: 16px;
  }

  @media screen and (max-width: 479px) {
    max-width: 220px;
    margin: 0 0 0 80px;
    font-size: 14px;
    text-align: start;
  }

  @media screen and (max-width: 359px) {
    max-width: 100%;
    margin: 0 0 4px 0;
    text-align: center;
  }
}

.services__heading {
  margin: 8px 0 56px 0;
  @extend %inter-semibold;
  font-size: 40px;
  text-align: center;
  color: $gray-darkest;

  @media screen and (max-width: 1399px) {
    font-size: 36px;
  }

  @media screen and (max-width: 1199px) {
    margin: 8px 0 48px 0;
    font-size: 32px;
  }

  @media screen and (max-width: 767px) {
    margin: 4px 0 44px 0;
    font-size: 28px;
  }

  @media screen and (max-width: 575px) {
    margin: 4px 0 32px 0;
    font-size: 24px;
  }

  @media screen and (max-width: 479px) {
    margin: 4px 0 32px 80px;
    max-width: 220px;
    font-size: 22px;
    text-align: start;
  }

  @media screen and (max-width: 359px) {
    max-width: 100%;
    margin: 4px 0 32px 0;
    text-align: center;
  }
}

.services__list {
  width: 100%;
  max-width: 680px;
  @include flex(column);

  @media screen and (max-width: 1399px) {
    max-width: 620px;
  }

  @media screen and (max-width: 1199px) {
    max-width: 540px;
  }

  @media screen and (max-width: 767px) {
    max-width: 460px;
  }

  @media screen and (max-width: 575px) {
    max-width: 400px;
  }

  @media screen and (max-width: 479px) {
    max-width: 100%;
  }
}

.services__list-item {
  width: 100%;
  @include flex(row, center);

  @media screen and (max-width: 359px) {
    @include flex(column, center);
  }
}

.services__list-item:not(:last-child) {
  margin: 0 0 44px 0;

  @media screen and (max-width: 767px) {
    margin: 0 0 40px 0;
  }

  @media screen and (max-width: 575px) {
    margin: 0 0 32px 0;
  }

  @media screen and (max-width: 479px) {
    margin: 0 0 30px 0;
  }

  @media screen and (max-width: 359px) {
    margin: 0 0 32px 0;
  }
}

.services__icon-wrapper {
  position: relative;
  min-width: 92px;
  height: 92px;
  margin: 0 28px 0 0;
  border-radius: 50%;
  background-color: $white;

  @media screen and (max-width: 767px) {
    min-width: 80px;
    height: 80px;
    margin: 0 20px 0 0;
  }

  @media screen and (max-width: 575px) {
    min-width: 64px;
    height: 64px;
    margin: 0 16px 0 0;
  }

  @media screen and (max-width: 359px) {
    margin: 0 0 12px 0;
  }
}

.services__icon {
  position: absolute;
  min-width: 92px;
  height: 92px;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: $gray-darkest;

  @media screen and (max-width: 575px) {
    min-width: 72px;
    height: 72px;
  }
}

#services-icon-1 {
  bottom: 6px;
  right: 2px;
  mask-image: url('../images/services-1.svg');

  @media screen and (max-width: 767px) {
    bottom: 2px;
    right: -4px;
  }

  @media screen and (max-width: 575px) {
    bottom: 2px;
    right: -3px;
  }
}

#services-icon-2 {
  bottom: 4px;
  left: 2px;
  mask-image: url('../images/services-2.svg');

  @media screen and (max-width: 767px) {
    bottom: -2px;
    left: -6px;
  }

  @media screen and (max-width: 575px) {
    bottom: -2px;
    left: -4px;
  }
}

#services-icon-3 {
  bottom: 6px;
  left: 0;
  mask-image: url('../images/services-3.svg');

  @media screen and (max-width: 767px) {
    bottom: 2px;
    left: -6px;
  }

  @media screen and (max-width: 575px) {
    bottom: 2px;
    left: -4px;
  }
}

#services-icon-4 {
  bottom: 2px;
  left: 0;
  mask-image: url('../images/services-4.svg');

  @media screen and (max-width: 767px) {
    bottom: -2px;
    left: -6px;
  }

  @media screen and (max-width: 575px) {
    bottom: -2px;
    left: -4px;
  }
}

.services__item-text {
  @include flex(column);

  @media screen and (max-width: 359px) {
    @include flex(column, center);
  }
}

.services__item-heading {
  margin: 0 0 8px 0;
  @extend %inter-regular;
  font-size: 20px;
  line-height: 120%;
  color: $color-main;

  @media screen and (max-width: 767px) {
    font-size: 18px;
  }

  @media screen and (max-width: 575px) {
    margin: 0 0 4px 0;
    font-size: 16px;
  }

  @media screen and (max-width: 359px) {
    max-width: 100%;
    margin: 0 0 4px 0;
    text-align: center;
  }
}

.services__item-paragraph {
  @extend %inter-regular;
  font-size: 16px;
  line-height: 160%;
  color: $black;

  @media screen and (max-width: 575px) {
    font-size: 14px;
  }

  @media screen and (max-width: 359px) {
    text-align: center;
  }
}

// .services {
//   width: 100%;
//   padding: 60px 0 100px 0;
//   @include flex(column, center);
//   background-color: #DCD9D4;
//   background-image: linear-gradient(to top, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
//   background-blend-mode: soft-light,screen;

//   @media screen and (max-width: 991px) {
//     padding: 60px 0 80px 0;
//   }

//   @media screen and (max-width: 575px) {
//     padding: 48px 0 60px 0;
//   }

//   @media screen and (max-width: 359px) {
//     padding: 32px 0 48px 0;
//   }
// }

// .services__container {
//   width: 100%;
//   max-width: 1440px;
//   @include flex(column, center);

//   @media screen and (max-width: 1599px) {
//     padding: 0 60px 0 60px;
//   }

//   @media screen and (max-width: 1399px) {
//     padding: 0 52px 0 52px;
//   }

//   @media screen and (max-width: 1199px) {
//     padding: 0 48px 0 48px;
//   }

//   @media screen and (max-width: 991px) {
//     padding: 0 44px 0 44px;
//   }

//   @media screen and (max-width: 767px) {
//     padding: 0 40px 0 40px;
//   }

//   @media screen and (max-width: 575px) {
//     padding: 0 36px 0 36px;
//   }

//   @media screen and (max-width: 479px) {
//     padding: 0 24px 0 24px;
//   }

//   @media screen and (max-width: 359px) {
//     padding: 0 16px 0 16px;
//   }
// }

// .services__subheading {
//   @extend %inter-extralight;
//   font-size: 20px;
//   letter-spacing: 1px;
//   text-align: center;
//   text-transform: uppercase;
//   color: $color-main;

//   @media screen and (max-width: 1199px) {
//     font-size: 18px;
//   }

//   @media screen and (max-width: 575px) {
//     font-size: 16px;
//   }
// }

// .services__heading {
//   margin: 8px 0 56px 0;
//   @extend %inter-semibold;
//   font-size: 40px;
//   text-align: center;
//   color: $gray-darkest;

//   @media screen and (max-width: 1399px) {
//     font-size: 36px;
//   }

//   @media screen and (max-width: 1199px) {
//     font-size: 32px;
//   }

//   @media screen and (max-width: 991px) {
//     margin: 8px 0 40px 0;
//   }

//   @media screen and (max-width: 767px) {
//     margin: 4px 0 32px 0;
//     font-size: 28px;
//   }

//   @media screen and (max-width: 575px) {
//     font-size: 24px;
//   }

//   @media screen and (max-width: 479px) {
//     margin: 4px 0 36px 0;
//     max-width: 260px;
//   }

//   @media screen and (max-width: 359px) {
//     margin: 4px 0 24px 0;
//   }
// }

// .services__cards {
//   width: 100%;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   grid-column-gap: 32px;

//   @media screen and (max-width: 1599px) {
//     grid-column-gap: 28px;
//   }

//   @media screen and (max-width: 1199px) {
//     max-width: 680px;
//     grid-template-columns: 1fr 1fr;
//     grid-column-gap: 36px;
//     grid-row-gap: 48px;
//   }

//   @media screen and (max-width: 991px) {
//     grid-column-gap: 28px;
//     grid-row-gap: 44px;
//   }

//   @media screen and (max-width: 767px) {
//     grid-column-gap: 20px;
//     grid-row-gap: 32px;
//   }

//   @media screen and (max-width: 575px) {
//     grid-template-columns: 1fr;
//     grid-row-gap: 32px;
//   }

//   @media screen and (max-width: 379px) {
//     grid-row-gap: 24px;
//   }
// }

// .services__card {
//   width: 100%;
//   padding: 12px 32px 48px 32px;
//   @include flex(column, center);
//   background-color: $whitest;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

//   @media screen and (max-width: 1599px) {
//     padding: 8px 24px 32px 24px;
//   }

//   @media screen and (max-width: 1399px) {
//     min-height: 300px;
//     padding: 0 20px 40px 20px;
//   }

//   @media screen and (max-width: 1199px) {
//     padding: 12px 32px 48px 32px;
//   }

//   @media screen and (max-width: 767px) {
//     padding: 0 16px 32px 16px;
//   }

//   @media screen and (max-width: 575px) {
//     min-height: auto;
//     padding: 8px 24px 48px 24px;
//   }

//   @media screen and (max-width: 479px) {
//     min-height: auto;
//     padding: 4px 16px 32px 16px;
//   }
// }

// .services__card-icon {
//   width: 122px;
//   height: 122px;
//   mask-position: center;
//   mask-repeat: no-repeat;
//   background-color: $gray-darkest;

//   @media screen and (max-width: 1399px) {
//     width: 100px;
//     height: 100px;
//   }

//   @media screen and (max-width: 1199px) {
//     width: 122px;
//     height: 122px;
//   }

//   @media screen and (max-width: 767px) {
//     width: 100px;
//     height: 100px;
//   }
// }

// #services-icon-1 {
//   mask-image: url('../images/services-1.svg');
// }

// #services-icon-2 {
//   mask-image: url('../images/services-2.svg');
// }

// #services-icon-3 {
//   mask-image: url('../images/services-3.svg');
// }

// #services-icon-4 {
//   mask-image: url('../images/services-4.svg');
// }

// .services__card-heading {
//   margin: 0 0 16px 0;
//   max-width: 200px;
//   @extend %inter-regular;
//   font-size: 18px;
//   line-height: 120%;
//   text-align: center;
//   color: $color-main;

//   @media screen and (max-width: 1399px) {
//     max-width: 180px;
//     margin: 0 0 12px 0;
//     font-size: 16px;
//   }

//   @media screen and (max-width: 1199px) {
//     max-width: 200px;
//     margin: 0 0 16px 0;
//     font-size: 18px;
//   }

//   @media screen and (max-width: 767px) {
//     max-width: 180px;
//     margin: 0 0 12px 0;
//     font-size: 16px;
//   }

//   @media screen and (max-width: 575px) {
//     max-width: 100%;
//   }
// }

// .services__card-text {
//   @extend %inter-regular;
//   font-size: 16px;
//   line-height: 160%;
//   text-align: center;
//   color: $black;

//   @media screen and (max-width: 1399px) {
//     font-size: 14px;
//   }

//   @media screen and (max-width: 1199px) {
//     font-size: 16px;
//   }

//   @media screen and (max-width: 767px) {
//     font-size: 14px;
//   }
// }